body {
    background-color: rgb(239, 235, 235);
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: Verdana;
}

#count {
    font-size: 8em;
    color: blue;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

.btn button {
    font-size: 1.5em;
    padding: 12px 40px;
    border-radius: 5px;
    background-color: rgb(31, 99, 226);
    color: white;
    transition: background-color 1s;
    margin-right: 15px;
}

button:hover {
    background-color: blue;
    transform: scale(1);
    cursor: pointer;
}